<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <h2>
                    Users
                </h2>
                <form action="/api/users" method="POST" class="form-inline">
                    <div class="form-group mb-2"><span>Username:</span></div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <button class="btn btn-primary mb-2" type="submit">Add user</button>
                </form>
                <table class="table table-striped mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">USER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">LOGIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in uservalues %}
                        <tr>
                            <td>{{item.user_id}}</td>
                            <td>{{item.username}}</td>
                            <td>
                                <form action="/api/userlogin/{{item.user_id}}">
                                    <button class="btn btn-success btn-sm" type="submit">
                                        <img src="{{url_for('static', filename='baseline_login_white_24dp.png')}}" alt="Login PNG" />
                                        Login
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</body>