<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <form action="/" class="d-inline">
        <button class="btn btn-secondary m-2" type="submit">
            <img src="{{url_for('static', filename='baseline_logout_white_24dp.png')}}" alt="Logout PNG" />
            Logout
        </button>
    </form>
    <form action="/goback" class="d-inline">
        <button class="btn btn-dark m-2" type="submit">
            <img src="{{url_for('static', filename='baseline_arrow_back_white_24dp.png')}}" alt="Back PNG" />
            Go back
        </button>
    </form>
    <div class="container">
        <h2>
            Chatroom
        </h2>
        <div class="row">
            <div class="col-8 border rounded p-3 mb-2 mr-2 bg-light text-dark" style="height: 400px;">
                {% for message in messages %}
                <p>
                    <b>
                        {% for i in uservalues %}
                            {% if loggedin == i.user_id %}
                                {{i.username}}
                            {% endif %}
                        {% endfor %}:
                    </b>{{message}}
                </p>
                {% endfor %}
            </div>
            <div class="col-3 border rounded p-3 mb-2 bg-light text-dark">
                <h5>
                    Users in this room:
                </h5>
                {% for item in listUsers %}
                    {% for i in uservalues %}
                        {% if item == i.user_id %}
                            <div class="rounded p-3 w-100 bg-white mb-3" style="box-shadow: 0 0 8px 1px #d6dce2;">
                                <img src="{{url_for('static', filename='baseline_account_circle_black_24dp.png')}}"
                                    alt="Account PNG" />
                                {{i.username}}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <form action="/api/room/messages" method="POST" class="w-100">
                <div class="col-8 input-group mb-3">
                    <input type="text" name="message" class="form-control" placeholder="Type a message..."
                        aria-label="Message" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">
                            Send
                            <img src="{{url_for('static', filename='baseline_send_white_24dp.png')}}" alt="Send PNG" />
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>